/*Тело*/
body{
    background-color: #f8f8f8;
}

.container {
    height: 700px;       
    margin: 0 auto;
}

.header {
  height: 100px;
  background-color: #21c187;
  display: flex;
  justify-content: space-between;
}

/*Логотип*/
.logo_index{            
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

/*Меню в шапке*/
.menu{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-link {
    color: white;
    font-size: 20px;
    margin-right: 15px; 
}

/*Меню в шапке*/
/*при наведении мыши*/
.menu-link:hover {
    color:skyblue;
}


.catalog{

}

.menu-img  { 
    list-style-type: none;
    display: flex;
    justify-content:flex-start;
}

.menu-img-a {
    margin: 10px;
}

.menu-text { 
    list-style-type: none;
    display: flex;
    justify-content:flex-start;
}

.menu-text-a {
    margin: 5px;
    color: black;
    font-size: 12px;
    }


.list_product_catalog{
    color: black;
    background-color: lightgray;   
 }


/*Форма обратной связи*/
.form_write_to_us:focus {
    color: mediumblue;
    background-color: skyblue;
    text-transform: capitalize;
          
}

/*Таблицы*/

.Table_product {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center
     
}

td{
    border: 1px solid black;
    }

/*Картинки*/
.img-product {
    border: 1px solid gray;
}

.img-product:hover {
    border: 1px solid #f8f8f8; 
}


.text:first-letter {
    color: red;
    font-style: italic;
    font-size: 20px;
    
}

.footer {
    clear: both;
    height: 50px;
    background-color: #27282a;
    color: white;
    text-align: left;
    font-style: normal;
    font-size: 15px; 
}

.all_rights {
    display: flex;
    justify-content:flex-end;
    margin-top: 15px;
    margin-right: 15px;    
}


/*Страница товара каталога*/
.container-product {
    display: flex;
    justify-content: flex-start;
    
}

.button_buy:hover {
    color: #27282a;
}

.button_buy:active {
    
/*    НЕ ПОНЯЛ ЧТО ПРИСВОИТЬ ПРИ НАЖАТИИ*/
    
}



