/*Тело*/
body{
    background-color: #f8f8f8;
}
/*Текст приветствия на главной странице*/
.text_greetin {
    
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    
}

/*Логотип*/
.logo_index{            
    height: 100px;
}

/*Меню в шапке*/
.menu {
    
     list-style-type: none;
     color: gray;
     font-size: 18px;
     font-style: italic;
}

.menu-link {

    color: gray;
    font-size: 18px;
    font-style: italic;    
}

/*Меню в шапке*/
/*при наведении мыши*/
.menu-link:hover {
    color:skyblue;
}



/*Каталог товаров*/
.menu-cat {
    
     list-style-type: none;
     color: gray;
     font-size: 18px;
     font-style: italic;
}

.menu-catalog {
 
    color: gray;
    font-size: 18px;
    font-style: italic;
    
    }



h2{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
    
}


h4{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}



.list_product_catalog
{
    color: black;
    background-color: lightgray;
    list-style-type: disc; 
 }

/*
img {
    outline: 1px solid grey;
}
*/

.form_write_to_us {
    color: black;
    font-size: 12px;
    height: auto;
    width: auto;
           
}
